#textdomain fiery-birth
[scenario]
    id=00_Prologue_The_Dragon
    name=_ "Prologue-The Dragon"
    map_data="{~/add-ons/A_Fiery_Birth/maps/00_Prologue_The_Dragon.map}"
#ifdef EASY
    turns=20
#else
    turns=15
#endif
    next_scenario=01_Scaly_Friends

    {UNDERGROUND}

    {SCENARIO_MUSIC wanderer.ogg}
    {EXTRA_SCENARIO_MUSIC knalgan_theme.ogg}
    {EXTRA_SCENARIO_MUSIC suspense.ogg}

    [story]
        [part]
            music=revelation.ogg
            story=_ "Journal of Erazin, Mage of Light. 450 YW
			
I have begun my journey, despite the mockery of my associates. I will not return to the Great Academy unless I return in triumph.
			
For years now, we have heard tales of strange creatures, part human and part man, yet the rumours are wildly inconsistent. Do they truly spawn from living lava? Are their hatchlings forced to fight each other to earn the right to live? Or are these silly fables of false historians?
			
I must find out for myself. I am journeying towards the north mountains, where sightings of these 'Drakes' have been most frequent. I will either meet with them, man to man, or die trying."
             background=story/drakedesk.png
       [/part]
        [part]
            story=_ "Success! I have encountered a tribe of Drakes, and have been admitted into their society. Their leader, Terrik, has been more than gracious. He laughed when I told him of the rumours, and offered to show me the truth of their civilization.
			
Though their society is savage, their intelligence is perhaps the equal of ours. They are divided into castes, with warriors dominating the others. The lesser drakes spend much of their time in hunting (to satisfy their vast appetites) and metal work (for accoutrements of war and for beauty).
			
I have asked Terrik if there is a caste like mine: scholars or historians, or anyone to write or sing the stories of his people. He thought for many minutes, and said that he would see whom he could find on the morrow."
        [/part]
        [part]
            story=_ "A surprise! They did indeed have a historian. I was shown into a back tunnel, where I was confronted with an ancient lizard-woman of small build. She was wingless, unlike the Drakes, with thin limbs and a hunched gate. A saurian! The rumours of an alliance between the two species seem to be true.
			
This old woman, by the name of Zlela, told me the Drakes' story of their origin. Each tribe has its own story, she says. But the story of this tribe began, she said, a long, long time ago."
            background=story/swamp-01.jpg
        [/part]
    [/story]

    [side]
        side=1
        controller=human
        recruit=Vampire Bat
#ifdef EASY
        gold=150
#else
        gold=100
#endif
        team_name=good
		color=orange
        user_team_name= _ "Dragon"
        {FLAG_VARIANT undead}

        type=Fire Dragon
        id=Fire1
        canrecruit=yes
        [status]
            poisoned=yes
        [/status]
        facing=nw
    [/side]

    [side]
        side=2
        controller=ai
        recruit=Elvish Fighter, Elvish Archer, Elvish Sorceress
#ifdef EASY
        gold=100
#endif
#ifdef NORMAL
        gold=140
#endif
#ifdef HARD
        gold=200
#endif
        team_name=evil
        user_team_name= _ "Hairy Folk"
        {FLAG_VARIANT6 ragged}

        type=Elvish Lord
        id=Acarion
        name= _ "Acarion"
        canrecruit=yes
        unrenamable=yes

        facing=se

    [/side]

    [event]
        name=prestart

        [micro_ai]
            side=2
            ai_type=goto
            action=add
           [filter]
		   [not]
                id=Acarion
			[/not]
            [/filter]
            [filter_location]
                 x,y=21,4
            [/filter_location]
			ca_score=75000
			ignore_units=yes
			ignore_enemy_at_goal=yes
        [/micro_ai]
		
        [objectives]
            side=1
            [objective]
                description= _ "Slay the Elvish leader."
                condition=win
            [/objective]
            [objective]
                description= _ "Death of the Fire Dragon"
                condition=lose
            [/objective]
            [objective]
                description= _ "Enemies reach the eggs"
                condition=lose
            [/objective]
            note=_ "The units in this scenario will not be recalled later on."
            {TURNS_RUN_OUT}
        [/objectives]
 		[item]
            image=units/monsters/ant/ant_red-egg.png
            x,y=21,4
        [/item]
		[item]
            image=units/monsters/ant/ant_red-egg.png
            x,y=21,3
        [/item]
		[item]
            image=units/monsters/ant/ant_red-egg.png
            x,y=22,2
        [/item]
		[item]
            image=units/monsters/ant/ant_red-egg.png
            x,y=22,3
        [/item]
		[item]
            image=units/monsters/ant/ant_red-egg.png
            x,y=23,3
        [/item]
		[/event]

    [event]
        name=start

        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "In those days, a remnant of the age of wonders still lived: a fiery dragon that dwelt in the heart of a smoking mountain. All races and creatures for a hundred miles feared her. Many a time she was forced to defend her supremacy against upstart heroes or rival beasts."
        [/message] 
			
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "Even her own kind fought against her, for a rival dragon from the east came to battle. Their combat was the stuff of legends, scarring the earth and scorching the forests. He acknowledged his defeat and fled, but their battle was not fruitless. Soon the fire dragon had filled her nest with precious eggs."
        [/message]

        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "News of her motherhood spread to her enemies, and they rejoiced, for the dragon had grown weak from her travail. One by one, they attacked, seeking to destroy both her and her brood. Goblins, elves, gryphon, mages, all tormented her, and she was forced to retreat to the depths of the earth."
        [/message]

        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "But still for here there was no peace. Great spiders met her in the shadows of her home, ravenous and bold. She drove them off, but her wounds were great, and she had no cure for the venom that now crept towards her heart.
			
Alas, it was then that a band of elves and mages, fearful of the dragon's brood, had entered the her lair to destroy her unhatched offspring."
        [/message]

        [message]
            speaker=Acarion
            message= _ "These disgusting caves--if the dragon doesn't kill us, the stench will. Let's finish this quickly."
        [/message]

        [message]
            speaker=narrator
            image=portraits/firedragon.png
            message= _ "The dragon roared in fury at the intruders, but there was no strength in her voice. The poison was already weakening her."
        [/message]

        [message]
            speaker=Acarion
            message= _ "Ha! Look at those wounds! Looks like something's already got its claws in our dragon. This should be easy. Elves, destroy those eggs! One hundred gold goes to the elf that slays the dragon herself."
        [/message]

        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "This is an optional scenario that lets you try out using a Fire Dragon with its leadership ability. Units and gold do not carry over."
			[option]
				message = _ "Play the scenario as the dragon, with bat recruits."
			[/option]
			[option]
				message = _ "Skip the scenario and read a story summary instead."
				[command]
					[message]
						speaker=narrator
						image="wesnoth-icon.png"
						message= _ "Despite her wounds, the Fire Dragon fought valiantly against the marauding elves. The weak tree-loving folk were massacred, with only a few living to tell the tale of the frightful dragon's might. But, alas, the dragon received many grievous wounds, and was not long for this world."
					[/message]
				[/command]
				[command]
					[endlevel]
						result=victory
					[/endlevel]
				[/command]
			[/option]
        [/message]

    [/event]

    [event]
        name=victory

        message= _ "This is the victory message."
    [/event]

    [event]
        name=last breath
        [filter]
            id=Acarion
        [/filter]

        [message]
            speaker=Acarion
            message= _ "You may have defeated us, beast, but your days are numbered! Your wounds will destroy you before nightfall!"
        [/message]

        [endlevel]
            result=victory
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Fire1
        [/filter]

        [message]
            speaker=Acarion
            message= _ "We have defeated the beast! Destroy those eggs!"
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

 
	[event]
		name=moveto
		[filter]
			x,y=21,4
			side = 2
		[/filter]
        [message]
            speaker=Acarion
            message= _ "Good, good! Kill the wyrm's spawn!"
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]

		# moving to 5,8 will trigger this event only on turn 10 and after
	[/event]

    [event]
        name=time over

        [message]
            speaker=Acarion
            message= _ "Our reinforcements are coming! Nothing can stop us now!"
        [/message]
    [/event]
[/scenario]
