#textdomain fiery-birth
[scenario]
    id=01_Scaly_Friends
    name=_ "Scaly Friends"
    map_data="{~/add-ons/A_Fiery_Birth/maps/01_Scaly_Friends.map}"
    turns=15
    next_scenario=02_Something_New

    {DEFAULT_SCHEDULE_DAWN}

    {SCENARIO_MUSIC battle.ogg}
    {EXTRA_SCENARIO_MUSIC loyalists.ogg}

    [story]
        [part]
            music=revelation.ogg
            story=_ "The historian of the Drakes continued with her story.
			
After the battle, she said, the dragon was weaker than ever. Despite her best efforts, there would be no one to protect her eggs, and her children would be destroyed by those who hated their mother. 

And she was not alone in her suffering. A band of saurians, worshippers of hers, dwelt near her volcanic lair. Unaware of the difficulties the dragon faced within, the scaly folk faced problems of their own."
            background=story/swamp-01.jpg
        [/part]
    [/story]

    [side]
        side=1
        save_id=Menir
        controller=human
        recruit=Saurian Skirmisher, Saurian Augur
        gold=150
        team_name=good
		color=orange
        user_team_name= _ "Scaly Folk"
        {FLAG_VARIANT undead}

        type=Saurian Soothsayer
        id=Szel
        name= _ "Szel"
        canrecruit=yes
        [filter_recall]
            type=Saurian Skirmisher, Saurian Ambusher, Saurian Flanker, Saurian Spearthrower, Saurian Javelineer, Saurian Oracle, Saurian Soothsayer, Saurian Augur, Drake Clasher, Drake Arbiter, Drake Warden, Drake Thrasher, Drake Enforcer, Saurian Seer, Saurian Prophet
        [/filter_recall]
        [modifications]
            {TRAIT_LOYAL}
            {TRAIT_RESILIENT}
            {TRAIT_QUICK}
        [/modifications]
        unrenamable=yes
        facing=nw
    [/side]

    [side]
        side=2
        controller=ai
#ifdef HARD
        recruit=Goblin Impaler, Goblin Knight
#else
        recruit=Goblin Spearman
#endif

#ifdef EASY
        gold=150
#else
        gold=200
#endif
        team_name=evil
        user_team_name= _ "Goblins"
        {FLAG_VARIANT6 ragged}

        # wmllint: recognize Szel
        type=Goblin Rouser
        id=Flit
        name= _ "Flit"
        canrecruit=yes
        unrenamable=yes

        facing=se
        [ai]
            grouping=yes
            passive_leader=yes
        [/ai]
    [/side]

    [side]
        side=3
        controller=ai
        team_name=human
        user_team_name= _ "Scaly Folk"
        recruit=Goblin Spearman
        {FLAG_VARIANT undead}

        gold=0
        type=Fire Dragon
        id=Fire1
        canrecruit=yes
        hitpoints=1
        facing=nw

        [status]
            poisoned=yes
        [/status]

        [ai]
            grouping=no
            passive_leader=yes
        [/ai]
    [/side]

#ifdef EASY
    {STARTING_VILLAGES 1 6}
#endif

    [event]
        name=prestart

        [objectives]
            side=1
           [objective]
                description= _ "Keep Szel alive for 15 turns."
                condition=win
            [/objective]
            [objective]
                description= _ "Alternate Objective: Defeat enemy leader."
                condition=win
            [/objective]
             [objective]
                description= _ "Death of Szel"
                condition=lose
            [/objective]

            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]

    [/event]

	[event]
		name=side 1 turn 1
		[object]
			[filter]
				id=Szel
			[/filter]
			duration=turn #72 pixel more for another image
			image="misc/blank-hex.png~SCALE(72,220)~BLIT(units/saurians/skirmisher/skirmisher.png~RC(magenta>red),0,70)~BLIT(units/saurians/augur/augur.png~RC(magenta>red),0,155)"
			name=_"New Recruits:"
			description=_"
Skirmishers are quick skirmishers that are strong in bad terrain like swamps, hills, or sand. Their multiple weak attacks make them consistent, but they are fragile. In this campaign, they can advance to both Ambushers and Spearthrowers.

Augurs are the magic units of the faction, able to hit well-defended enemies and to provide healing."
		[/object]
	[/event]

    [event]
        name=start

        [message]
            speaker=Flit
            message= _ "Tribute is what we want, you disgusting lizards. Give us your gold, or face our spears!"
        [/message]

        [message]
            speaker=Szel
            message= _ "Haha, you fool! Just wait until our goddess, the flame-filled Dragon, rises from her lair! Under her benevolent care, our lives remain safe! Our enemies fear and tremble before us! Our fame spreads throughout the land! Our—"
        [/message]

        [message]
            speaker=Fire1
			image=portraits/firedragon.png
            message= _ "..."
        [/message]

        [kill]
            id=Fire1
            animate=yes
        [/kill]

        [delay]
            time = 500
        [/delay]

        [message]
            speaker=Szel
            message= _ "Sewer pits and swamp garbage, this is a foul sight."
        [/message]

        [message]
            speaker=Flit
            message= _ "You always talked big, Szel. Chasing us out of these swamps, even when we're starving. Think you're so tough. Too bad your big friend is gone."
        [/message]

        [message]
            speaker=Szel
            message= _ "Come, my saurians, we must flee. Without a dragon on our sides, we will surely fall before our foes. Unless..."
        [/message]

        [message]
            speaker=Szel
            message= _ "The eggs! I know an old incantation that can hasten the birth of Saurian eggs. It may not work on these, but we can only try. Come, warriors! Gather the eggs!"
        [/message]

        [message]
            speaker=narrator
            message= _ "The eggs were swiftly gathered in."
        [/message]

		{FADE_TO_BLACK}
        [message]
            speaker=Szel
            message= _ "Toh, Gihn, Yat, Toh, Tai, Yang, Gwong, Loh..."
        [/message]
		{FADE_IN}
		
        [message]
            speaker=Szel
            message= _ "Excellent. The spell is cast, and I feel life in these eggs. If we can just fend off our foes long enough, we'll soon have all the reinforcements we could wish for. To arms, Saurians!"
        [/message]

    [/event]
    [event]
        name=last breath
        [filter]
            id=Flit
        [/filter]

        [message]
            speaker=unit
            message= _ "You miserable lizards!"
        [/message]

        [kill]
            id=Flit
            animate=yes
        [/kill]
		
		[if]
			[have_unit]
				side=2
				count=0
			[/have_unit]
			[then]
				[set_achievement]
					content_for=AFB
					id="afb_swamp"
				[/set_achievement]
			[/then]	
		[/if]
			
        [message]
            speaker=Szel
            message= _ "Perhaps we were stronger than we thought. But we can't stay here with our dragon gone. Perhaps...perhaps there is something else we can try. Let's take a look at those eggs."
        [/message]

        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    [event]
        name=victory

        message= _ "This is the victory message."
    [/event]
    [event]
        name=last breath
        [filter]
            id=Szel
        [/filter]

        [message]
            speaker=Szel
            message= _ "We have perished!"
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

   [event]
        name=time over
       [message]
            speaker=Szel
            message= _ "They're hatching! They're hatching!"
        [/message]

        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]

    [/event]
[/scenario]
