#textdomain fiery-birth
[scenario]
    id=02_Something_New
    name=_ "Something New"
    map_data="{~/add-ons/A_Fiery_Birth/maps/01_Scaly_Friends.map}"
#ifdef EASY
    turns=25
#else
    turns=20
#endif
    next_scenario=03_Creatures_Of_Fae

    {DEFAULT_SCHEDULE_DAWN}

    {SCENARIO_MUSIC "the_dangerous_symphony.ogg"}
    {EXTRA_SCENARIO_MUSIC "northerners.ogg"}
    {EXTRA_SCENARIO_MUSIC "knalgan_theme.ogg"}

    [story]
        [part]
            music=revelation.ogg
            story=_ "At last, the eggs hatched, and the goblins fled at the prospect of new foes.

But the hatchlings were not like the dragon they had come from. Some were agile and sleek, while others were bulky and powerful. The saurian egg-hastening incantation had constrained their forms, rendering them smaller, weaker.

And smarter."
            background=story/swamp-01.jpg
        [/part]
        [part]
            story=_ "The strongest hatchling, Menir, proved himself both ambitious and charismatic. Like his fellow drakes (for thus Szel named them), he grew quickly, and in just a few years became the ruler of the band. The saurians, once the nurturers of the drakes, now turned to them for protection."
            background=story/swamp-01.jpg
        [/part]
        [part]
            story=_ "But Menir and the drakes would soon find themselves tested."
            background=story/swamp-01.jpg
        [/part]
    [/story]

    [side]
        side=1
        controller=human
        recruit=Saurian Skirmisher, Saurian Augur, Drake Burner, Drake Glider
#ifdef EASY
        gold=150
#endif
#ifdef NORMAL
        gold=110
#endif
#ifdef HARD
        gold=100
#endif
        team_name=good
        user_team_name= _ "Scaly Folk"
        {FLAG_VARIANT undead}

        save_id=Menir
        type=Drake Burner
        id=Menir
        name= _ "Menir"
        canrecruit=yes
        profile=portraits/menir.png
		[modifications]
			{TRAIT_INTELLIGENT}
            {ABILITY_LEADERSHIP}
		[/modifications]
        facing=nw
    [/side]

    [side]
        side=2
        controller=ai
#ifdef HARD
        recruit=Wraith, Skeleton Archer, Chocobone
#else
        recruit=Ghost, Skeleton, Skeleton Archer
#endif
#ifdef EASY
        gold=150
#else
        gold=200
#endif
        team_name=evil
        user_team_name= _ "Undead"
        {FLAG_VARIANT undead}

        # wmllint: recognize Szel
#ifdef EASY
        type=Wraith
#else
        type=Spectre
#endif
        id=Varanus
        name= _ "Varanus"
        canrecruit=yes
        unrenamable=yes
		defeat_condition = never
        facing=se
        [ai]
            grouping=yes
            passive_leader=no
        [/ai]
    [/side]

#ifdef EASY
    {STARTING_VILLAGES 1 6}
#endif

    [event]
        name=prestart

        [objectives]
            side=1
            [objective]
                description= _ "Advance units 4 times."
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Menir"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Szel"
                condition=lose
            [/objective]
			[note]
				decription = _ "Defeating the undead leader will not end the scenario. Instead, he will respawn near his castle."
			[/note]
            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
 
 		[set_variable]
		name=advancecount
		value=0
 	[/set_variable]

 [/event]

    [event]
        name=start

        [unit]
            id=Szel
            x,y=25,30
            side=1
        [/unit]
        {MODIFY_UNIT (id=Szel) canrecruit no}
        {MAKE_HERO Szel}
        [message]
            speaker=Varanus
            message= _ "Depart from here, scaled ones. Our masters have claimed this land for their own."
        [/message]

        [message]
            speaker=Menir
            message= _ "Szel, what are these strange creatures? They seem more like morning mist than men, all shadow and no substance. I'd love to see what would happen if I lit one on fire."
        [/message]

       [message]
            speaker=Szel
            message= _ "..."
        [/message]

       [message]
            speaker=Menir
            message= _ "What's wrong, old friend? We've defeated many invaders before. These do not seem particularly fearful."
        [/message]

		[message]
            speaker=Szel
            message= _ "Menir, I have heard rumours of great happenings abroad. Vast armies of the dead, conjured by wicked men, fight for power and glory, not caring who stands in their path. If the armies are coming to our land, then we are doomed."
        [/message]

        [message]
            speaker=Menir
            message= _ "So we must abandon our homes? We can slaughter these apparitions where they stand!"
        [/message]

		[message]
            speaker=Szel
            message= _ "They are but a vanguard for a far greater force. We must retreat. But worry not, child, for we will use them for our benefit. I have not attained the wisdom of my ancestors, but my divinations bear fruit from time to time. They tell me that you must be far stronger than you are now to face the foes that will come. We will not leave until you have proven your worth in battle."
        [/message]


    [/event]
 
	[event]
		name=side 1 turn 1
		[object]
			[filter]
				id=Szel
			[/filter]
			duration=turn #72 pixel more for another image
			image="misc/blank-hex.png~SCALE(72,220)~BLIT(units/drakes/burner.png~RC(magenta>red),0,50)~BLIT(units/drakes/glider.png~RC(magenta>red),0,135)"
			name=_"New Recruits:"
			description=_"
Burners are powerful and expensive units with high mobility and damage but low defense and resistances. In this campaign, the Armageddon Drake advancement is available at level 4.

Gliders are quick scouts with niche attack abilities. Their markmanship can make entrenched enemies easier to hit, and their crushing slam attacks can be helpful against skeletons and other fragile enemies, but they are weaker than most other units in the faction."
		[/object]
	[/event]

    [event]
        name=turn 4

        [message]
            speaker=Szel
            message= _ "Be careful in your early battles, Menir! You're too big to dodge many enemey attacks, but you have the advantage of speed and power."
        [/message]
    [/event]

    [event]
        name=victory

        message= _ "This is the victory message."
    [/event]
    [event]
        name=last breath
        [filter]
            id=Szel
        [/filter]

        [message]
            speaker=Menir
            message= _ "Szel! I can't be ruler of the Drakes without you!"
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

   [event]
        name="last breath"
        first_time_only=no
        [filter]
            id=Varanus
        [/filter]
        [message]
            speaker=Varanus
            message= _ "Did you truly think it would be so simple?"
        [/message]
       [kill]
            id=Varanus
            animate=yes
        [/kill]
		[unit]
 #ifdef EASY
		type=Wraith
#else
        type=Spectre
#endif
        id=Varanus
        name= _ "Varanus"
        canrecruit=yes
		x,y = 4,7
		side=2
		[/unit]
    [/event]


    [event]
        name=last breath
        [filter]
            id=Menir
        [/filter]

        [message]
            speaker=Menir
            message= _ "Just like mother..."
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
    name=post advance
	first_time_only=no
 
        [filter]
            side=1
        [/filter]
		[set_variable]
		name=advancecount
		add=1
		[/set_variable]
		
		[if]
			[variable]
				name=advancecount
				equals=1
			[/variable]
		[then]
        [message]
            speaker=Menir
            message= _ "So this is the power you mentioned, Szel. Impressive."
        [/message]		
		[/then]
		[/if]

		[if]
			[variable]
				name=advancecount
				equals=4
			[/variable]
		[then]
        [message]
            speaker=Szel
            message= _ "Enough! Leave these pale warriors, and let us depart."
        [/message]		
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
			
		[/then]
 		[/if]
   [/event]

    [event]
        name=time over

        [message]
            speaker=Szel
            message= _ "These undead will never stop coming."
        [/message]
    [/event]
[/scenario]
