#textdomain fiery-birth
[scenario]
    id=06_Alone_Again
    name= _ "Alone Again"
    map_data="{~/add-ons/A_Fiery_Birth/maps/06_Alone_Again.map}"
#ifdef EASY
    turns=31
#else
    turns=25
#endif

    {DEFAULT_SCHEDULE}

    next_scenario=07_A_Mighty_Storm

    {SCENARIO_MUSIC "loyalists.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_city_falls.ogg"}
    {EXTRA_SCENARIO_MUSIC "battle.ogg"}
    {EXTRA_SCENARIO_MUSIC "casualties_of_war.ogg"}
    {EXTRA_SCENARIO_MUSIC "siege_of_laurelmor.ogg"}

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Menir reaches the crossroads to the northeast."
                condition=win
            [/objective]
            [objective]
                description= _ "Alternate Objective: Defeat the Dunefolk leader"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Menir"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Szel"
                condition=lose
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]

    [story]
        [part]
            story= _ "The Drakes returned to the valleys below, only to find that they had become entirely barren and wasted. Szel explained his theory, that the magic of the two towers had been used to prop up the fragile health of the valleys and, without it, the land returned to the dry desert of the regions nearby.
			
Once again homeless and starving, the drakes went on their weary way, further and further from their volcanic home. Soon, they came upon an unusual band of humans..."
            background=story/landscape-mountains-03.jpg
        [/part]
    [/story]

    [side]
        type=Drake Burner
        id=Menir
        recruit=Saurian Skirmisher, Saurian Augur, Drake Burner, Drake Glider, Drake Clasher, Drake Fighter
        name= _ "Menir"
        unrenamable=yes
        canrecruit=yes
        side=1
        facing=ne
        team_name=drakes
        user_team_name=_"Scaly Folk"
        controller=human

#ifdef EASY
        gold=300
#endif
#ifdef NORMAL
        gold=250
#endif
#ifdef HARD
        gold=200
#endif
        {FLAG_VARIANT loyalist}
    [/side]

    [side]
#ifdef EASY
        type=Dune Warmaster
        gold=150
        income=4
        recruit=Dune Soldier, Dune Burner, Dune Rider, Dune Rover, Dune Skirmisher, Dune Swordsman, Dune Spearguard, Dune Scorcher, Dune Horse Archer, Dune Explorer, Dune Raider, Naga Dirkfang
#endif
#ifdef NORMAL
        type=Dune Paragon
        gold=280
        income=12
        recruit=Dune Soldier, Dune Burner, Dune Rider, Dune Rover, Dune Skirmisher, Dune Swordsman, Dune Spearguard, Dune Scorcher, Dune Horse Archer, Dune Explorer, Dune Raider, Naga Dirkfang
#endif
#ifdef HARD
        type=Dune Paragon
        gold=300
        income=12
        recruit=Dune Rider, Dune Rover, Dune Spearguard, Dune Horse Archer, Dune Explorer, Dune Falconer, Naga Ringcaster
#endif
        id=Taneer
        name= _ "Taneer"
        side=2
        canrecruit=yes
        facing=sw

        [ai]
            passive_leader=yes
            [goal]
                name=target
                [criteria]
                    id=Szel
                [/criteria]
                value=9.0
            [/goal]
            leader_value=6.0
        [/ai]
        team_name=dunefolk
        user_team_name=_"Dunefolk"
        {FLAG_VARIANT loyalist}
    [/side]

#ifdef HARD
	{STARTING_VILLAGES 2 16}
    {STARTING_VILLAGES_AREA 2 33 26 4}
#endif
    [event]
        name=start
        [recall]
            id=Szel
        [/recall]
        [message]
            speaker=Menir
            message= _ "Humans again! I could be happy if I never saw one again."
        [/message]
        [message]
            speaker=Taneer
            message= _ "Halt, foul beasts! We have come to defy your wizard masters, and to destroy you and all the other experiments of those foul mages!"
        [/message]
        [message]
            speaker=Menir
            message= _ "You are too late! We have destroyed these mages ourselves! We serve no man, and look for no trouble. Let us pass."
        [/message]
        [message]
            speaker=Taneer
            message= _ "For years, the wizards of this place have lied and deceived us. If you are with them, you must perish. And if not, we cannot allow you, whatever you are, to pillage our lands. You will fall here."
        [/message]
        [message]
            speaker=Menir
            message= _ "You are deceiving yourself, my friend. We have no quarrel with you. But my people must find a home, and we cannot go back. Our only path is forward, no matter who stands in our way."
        [/message]
        [message]
            speaker=Taneer
            message= _ "Then I will see you on the field of battle."
        [/message]
		
		{HIGHLIGHT_IMAGE 43 2 items/gohere.png ()}
    [/event]

    [event]
        name=last breath
        [filter]
            id="Taneer"
        [/filter]

        [message]
            speaker=unit
            message= _ "Your words have proven true, creature. You may be a foul abomination, but you are an honorable soldier. In death, I salute you."
        [/message]

        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

   [event]
        name=moveto
        [filter]
            id=Menir
			x,y=43, 2
		[/filter]
		
        [message]
            speaker=Menir
       
            message= _ "We've breached their lines! Onwards!"

        [/message]
        [message]
            speaker=Taneer
            message= _ "Your words have proven true, creature; it seems you seek no quarrel between us. I cannot stop you; I see that now. But know that our own lands are weak and failing. If you seek a land of peace and plenty, know that I seek it as well, and cannot find it. Farewell."
        [/message]

        [endlevel]
            result=victory
            bonus=yes
        [/endlevel]
    [/event]


    [event]
        name=victory
    [/event]

    [event]
        name=turn 7
        [message]
            speaker=Taneer
            message= _ "These beasts are proving stronger than I had imagined. Wake the reserves!"
        [/message]
#ifdef EASY
        [gold]
            side=2
            amount=90
        [/gold]
#endif

#ifdef NORMAL
        [gold]
            side=2
            amount=150
        [/gold]
#endif

#ifdef HARD
        [gold]
            side=2
            amount=200
        [/gold]
#endif
    [/event]
    [event]
        name=last breath
        [filter]
            id=Szel
        [/filter]

        [message]
            speaker=Szel
            message= _ "We have perished!"
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Menir
        [/filter]

        [message]
            speaker=Menir
            message= _ "Just like mother..."
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]
