#textdomain fiery-birth
[scenario]
    id=07_A_Mighty_Storm
    name= _ "A Mighty Storm"
    map_data="{~/add-ons/A_Fiery_Birth/maps/07_A_Mighty_Storm.map}"
#ifdef EASY
    turns=25
#else
    turns=22
#endif

    {DEFAULT_SCHEDULE}
    next_scenario=08_Home_At_Last

    {SCENARIO_MUSIC "vengeful.ogg"}
    {EXTRA_SCENARIO_MUSIC "frantic.ogg"}

    [story]
        [part]
            music=revelation.ogg
            story= _ "Menir took the words of the human leader to heart, and the Drakes passed switfly past the human lands, stopping only to take food here and there and only under cover of darkness. They left behind them legends of scaled, winged monsters that carried off cattle on moonless nights."
        [/part]

        [part]
            story= _ "At last, the reached a something that Szel had only read of: the ocean."
        [/part]
			
        [part]
            story= _ "As soon as he saw it, Menir knew that this was his chance for freedom for both himself and his people. 
			
A great council was held among the Drakes and Saurians. Menir proposed travel over the great sea. Most saw his vision and acclaimed his choice, while some drakes and saurians, weary of travel, decided to remain on the shores of the ocean."
        [/part]

        [part]
            story =_  "Menir allowed those who wished to do so to separate from the tribe. But as for himself, he determined to cross the ocean.
			
Many of the drakes flew, but the Saurians and the heavier drakes formed rafts to cross the great water. One day, a mighty storm blew the fliers away, while those on the raft had their own difficulties."
        [/part]
    [/story]
    [side]
        type=Saurian Soothsayer
        save_id=Menir
        id=Szel
        canrecruit=yes
        facing=sw
        side=1
        team_name=good
		color=orange
        user_team_name=_"Scaly Folk"
        controller=human
#ifdef EASY
        gold=240
#endif
#ifdef NORMAL
        gold=180
#endif
#ifdef HARD
        gold=140
#endif
        {FLAG_VARIANT loyalist}
    [/side]

    [side]
#ifdef EASY
        type=Sea Serpent
        gold=280
#else
        type=Sea Serpent
        gold=380
#endif
        id=serpent1
        name= _ "Foul Serpent"
        side=2
        canrecruit=yes
        facing=sw

#ifdef HARD
        recruit=Giant Mudcrawler, Cuttle Fish, Water Serpent, Sea Serpent
        [ai]
            grouping=yes
            passive_leader=no
        [/ai]
#else
        recruit=Vampire Bat,Cuttle Fish, Water Serpent, Sea Serpent
        [ai]
            grouping=no
            passive_leader=no
        [/ai]
#endif
        team_name=monsters
        user_team_name=_"Monsters"
        {FLAG_VARIANT loyalist}
    [/side]

    [event]
        name=prestart
        [disallow_recruit]
            side=1
            type=Drake Burner, Drake Glider, Drake Fighter
        [/disallow_recruit]
        {UNMAKE_HERO Szel}
        {MODIFY_UNIT (id=Szel) canrecruit yes}
        [objectives]
            side=1
            [objective]
                description= _ "Slay the monster leader."
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Szel"
                condition=lose
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
		[set_variable]
			name=achievementcounter
			value=0
		[/set_variable]
    [/event]

    [event]
        name=start
  		[set_variable]
		name=flyingreal
		value=0
		[/set_variable]
		[recall]
            id=Szel
        [/recall]
        [message]
            speaker=Szel
            message= _ "We have drifted far off course. It will be some time before the fliers find us."
        [/message]
        [message]
            speaker=serpent1
            message= _ "Hsssss!" # wmllint: no spellcheck
        [/message]
        [message]
            speaker=Szel
            message= _ "Oh my."
        [/message]
         [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "This scenario was originally intended to be fought with only non-flying units. You may play it as originally intended, or bring Menir back to enable the full recruit list."
			[option]
				message = _ "Play the scenario as originally intended."
			[/option]
			[option]
				message = _ "Bring Menir back!"
				[command]
				       [unit]
					type=Drake Burner
					id=Menir
					name= _ "Menir"
					canrecruit=yes
					profile=portraits/menir.png
					x,y = 27,13
					[modifications]
						{TRAIT_INTELLIGENT}
						{ABILITY_LEADERSHIP}
					[/modifications]
					[/unit]
  					[message]
						speaker=Menir 
						message= _ "Whoo! Ha! Sorry...let me catch my breath."
					[/message]
 					[message]
						speaker=Menir 
						message= _ "That was a lot of wind..."
					[/message]
 					[message]
						speaker=Menir 
						message= _ "Dang."
					[/message]
 					[message]
						speaker=Menir 
						message= _ "..."
					[/message]
					[message]
						speaker=Szel
						message= _ "You good?"
					[/message]
				[/command]
				[command]
					[message]
						speaker=Menir
						message= _ "Yeah, I'm good now. Let's fight!"
					[/message]
				[set_variable]
				name=flyingreal
				value=1
				[/set_variable]
				[/command]
			[/option]
        [/message]

   [/event]
   
    [event]
        name=unit placed
		first_time_only=no
		
        [filter]
            side=1
			race=drake
        [/filter]
		[set_variable]
			name=achievementcounter
			add=1
		[/set_variable]
    [/event]
	
    [event]
        name=last breath
        [filter]
            id=serpent1
        [/filter]
		
		[if]
			[variable]
				name=achievementcounter
				equals=0
			[/variable]
			[then]
				[set_achievement]
					content_for=AFB
					id="adf_water"
				[/set_achievement]
			[/then]
		[/if]
		{CLEAR_VARIABLE achievementcounter}
        [message]
            speaker=serpent1
            message= _ "*The beast roared in the agony of death.*"
        [/message]
		[if]
			[variable]
				name=flyingreal
				equals=0
			[/variable]
		[then]

        [unit]
            side=1
            type=Drake Burner
            id=Krash
            name= _ "Krash"
            x,y=1,1
        [/unit]
        [message]
            speaker=Krash
            message= _ "We have found you! Menir, they are here!"
        [/message]
		[/then]
		[/if]
        [message]
            speaker=Menir
            message= _ "Finally! Let us press on."
        [/message]

        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    [event]
        name=victory
    [/event]
[/scenario]
