#textdomain fiery-birth
[achievement_group]
    display_name=_"A Fiery Birth"
	content_for=AFB
	[achievement]
        id="afb_dragon"
        name=_"Scenario 00: Roar of the Dragon"
        description=_"Play the Prologue."
        icon="data/core/images/units/monsters/fire-dragon.png~CROP(0,0,160,160)"
        icon_completed="data/core/images/units/monsters/fire-dragon.png~CROP(0,0,160,160)~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-2-orange.png",0,0)"
    [/achievement]
	[achievement]
        id="afb_swamp"
        name=_"Scenario 01: We need no Dragon"
        description=_"Get rid of all goblins before you defeat the leader."
        icon="data/core/images/attacks/tail-dragon.png"
        icon_completed="data/core/images/attacks/tail-dragon.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-2-orange.png",0,0)"
    [/achievement]
    [achievement]
        id="afb_advancement"
        name=_"Scenario 02: They grow so fast"
        description=_"Advance Menir to Inferno Drake in Something New."
        icon="data/core/images/attacks/claws-flaming.png"
        icon_completed="data/core/images/attacks/claws-flaming.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-2-orange.png",0,0)"
    [/achievement]
	[achievement]
        id="afb_hunt"
        name=_"Scenario 03: Huntin Season"
        description=_"Hunt all Boars in Creatures of Fae."
        icon="data/core/images/attacks/tusk.png"
        icon_completed="data/core/images/attacks/tusk.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-2-orange.png",0,0)"
    [/achievement]
	[achievement]
        id="afb_balance"
        name=_"Scenario 04: The two towers"
        description=_"Defeat Vojt and Lenor in the same turn in Hidden Towers."
        icon="data/core/images/terrain/castle/castle-tile.png"
        icon_completed="data/core/images/terrain/castle/castle-tile.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-2-orange.png",0,0)"
    [/achievement]
	[achievement]
        id="afb_who"
        name=_"Scenario 05: No one will be left behind"
        description=_"Don't let any unit die in Tartarus."
        icon="data/core/images/scenery/whirlpool.png"
        icon_completed="data/core/images/scenery/whirlpool.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-2-orange.png",0,0)"
    [/achievement]
	[achievement]
        id="afb_dune"
        name=_"Scenario 06: The way of peace"
        description=_"Don't defeat the Dunefolk leader in Alone Again."
        icon="data/core/images/icons/amla-default.png"
        icon_completed="data/core/images/icons/amla-default.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-2-orange.png",0,0)"
    [/achievement]
	[achievement]
        id="adf_water"
        name=_"Scenario 07: Sandwalkers"
        description=_"Don't recruit any Drakes in A Mighty Storm."
        icon="data/core/images/units/saurians/skirmisher/skirmisher-idle-1.png"
        icon_completed="data/core/images/units/saurians/skirmisher/skirmisher-idle-1.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-2-orange.png",0,0)"
    [/achievement]
	[achievement]
        id="adf_final"
        name=_"Scenario 08: Draconic diplomacy"
        description=_"Defeat all enemy leaders with Menir in Home At Last."
        icon="data/core/images/items/dragonstatue.png"
        icon_completed="data/core/images/items/dragonstatue.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-2-orange.png",0,0)"
    [/achievement]
[/achievement_group]
